<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Novedades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-title class="ion-padding">Estados</ion-title>
  <ion-list >
    <app-item-chat
    *ngFor="let estados of estados"
      [username]="estados.username"
      [date]="estados.date"
      [avatarURL]="estados.avatarURL"></app-item-chat>
  </ion-list>
  <ion-title class="ion-padding">Recientes</ion-title>
  <ion-list>
    <app-item-chat
    *ngFor="let estados of estados2"
      [username]="estados.username"
      [date]="estados.date"
      [avatarURL]="estados.avatarURL"></app-item-chat>
  </ion-list>
  
  <ion-title class="ion-padding">Vistos</ion-title>
  <ion-list>
    <app-item-chat
    *ngFor="let estados of estados3"
      [username]="estados.username"
      [date]="estados.date"
      [avatarURL]="estados.avatarURL"></app-item-chat>
  </ion-list>
</ion-content >
