root {
    $bocchi-color-azul: #007bff;
    $bocchi-color-gris: #6c757d;
    $bocchi-color-verde: #28a745;
    $bocchi-color-rojo: #dc3545;
    $bocchi-color-amarillo: #ffc107;
    $bocchi-color-azul-agua: #17a2b8;
    $bocchi-color-blanco: #f8f9fa;
    $bocchi-color-negro: #343a40;
}